body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
}

.container-fluid {
    display: flex;
    height: 100vh;
    padding-left: 0;
}

.left-column {
    background-image: url('https://bsmedia.business-standard.com/_media/bs/img/article/2023-12/17/full/1702832643-9438.jpg?im=FeatureCrop,size=(826,465)');
    background-size: cover;
    background-position: center;
    position: relative;
    flex: 0.9;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: -4px 0px 10px rgba(255, 255, 255, 0.2);
}

.left-column::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.left-column .logo, .left-column .description {
    z-index: 2;
}

.left-column .logo {
    font-size: 4rem;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}

.left-column .description {
    font-size: 1rem;
    width: 60%;
    text-align: center;
    margin-bottom: 40px;
    align-self: center;
    font-weight: bold;
}

.right-column {
    margin-left: 10px;
    margin-right: -10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

}

.login-box {
    width: 90%; /* Adjust the width to make the form wider */
    max-width: 500px; /* Increase the maximum width */
    font-weight: bold;
}

.login-box h2 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.login-box .form-control {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 25px;
    font-weight: bold;
    opacity: 0.9;
    width: 100%; /* Ensures full width */
}

.login-box .btn {
    width: 100%; /* Ensures full width */
    padding: 15px; /* Increase padding for a larger button */
    border-radius: 25px;
    background-color: #0463FA;
    font-weight: bold;
}

.login-box .text-muted {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.login-box .text-muted a {
    color: #0463FA;
    text-decoration: none;
    font-weight: bold;
}

.success-icon {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */

}